.homeContainer{
    display: flex;
    justify-content: center;
    height: calc(100vh - 180px);
}

.BannerOrganizer{
    height: 60vh;
    width: 80vw;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
}

.BannerContainer{
    overflow: hidden;
    height: inherit;
}

.BannerDisplay{
    width: 160vw;
    display: flex;
    justify-items: flex-start;
    align-items: center;
    transition: all ease 1.2s;
}

.BannerDisplay img{
    width: 80vw;
    height: 60vh;
    object-fit: contain;
}

.statement{
    margin-top: 80px;
    display: flex;
    justify-content: center;
    color: rgb(108, 150, 68);
    font-size: 30px;
    font-weight: 600;
}


.listLayout{
    width: 80vw;
    min-width: 320px;
    margin: auto;
    display: flex;
    justify-content: center;
}

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

@media (min-width: 200px) and (max-width: 449px) {

    .BannerOrganizer{
        height: 40vh;
    }

    .BannerDisplay img{
        height: 40vh;
        object-fit: fill;
    }

}
